//************************
// GENERAL
//************************

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  background-color: #01383a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;

  @media screen and (min-width: 768px) {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.16;
  }

  @media screen and (min-width: 1280px) {
    font-weight: 400;
    font-size: 24px;
    line-height: 0.85;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  // outline: 2px solid tomato;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (max-width: 768px) {
    position: relative;
  }

  @media screen and (min-width: 768px) {
    padding: 0 40px;
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding: 0 40px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    text-shadow: 0px 0px 2px var(--primary-text-color);
  }
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  font-family: inherit;
  text-align: center;
  border-color: transparent;
  &:hover {
    cursor: pointer;
  }
}

// -----backdrop----

.backdrop {
  position: fixed;
  z-index: 33;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
