// Animation
$animation-param: (
  'duration': 250ms,
  'bezier': cubic-bezier(0.4, 0, 0.2, 1),
);

// Variables
:root {
  --primary-text-color: #86e543;
  --secondary-text-color: #ffffff;
  --third-text-color: #8d9289;
  --backdrop-bg-color: rgba(0, 20, 20, 0.8);
  --modal-bg-color: #01383a;
  --light-button-text-color: #01383a;
  --error-border-color: #ff0000;
}

// Mixins
@mixin media($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}
