.contacts {
  background-color: rgb(2, 65, 65);
}

.cont-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  margin-bottom: 35px;
  padding-top: 40px;
  @media screen and (min-width: 768px) {
    padding-top: 120px;
    padding-left: 59px;
    margin-bottom: 67px;
    font-size: 56px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 102px;
    margin-bottom: 75px;
  }
}

.cont-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  @media screen and (min-width: 481px) {
    width: 480px;
    padding: 0 16px;
  }
  @media screen and (min-width: 768px) {
    padding: 0 40px;
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.cont-img {
  width: 100%;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 57px;
  }
}

img {
  width: 100vw;
}

.cont-wrap {
  @media screen and (min-width: 1280px) {
    display: flex;
    gap: 122px;
  }
}

.cont-top-text {
  color: var(--secondary-text-color);
  margin-bottom: 19px;
  width: 288px;
  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
    width: 488px;
  }
  @media screen and (min-width: 1280px) {
    line-height: 1.17;
  }
}

.cont-bottom-text {
  color: var(--secondary-text-color);
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1280px) {
    line-height: 1.17;
    margin-bottom: 40px;
  }
}

.cont-nav {
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 132px;
  }
  @media screen and (min-width: 1280px) {
    flex-direction: column;
    gap: 40px;
  }
}

.nav-mail-list {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.cont-nav-item {
  color: var(--secondary-text-color);
  @media screen and (min-width: 1280px) {
    line-height: 1.17;
  }
}

.nav-phone-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav-link {
  color: var(--third-text-color);
  outline: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  &:hover,
  &:focus {
    color: var(--secondary-text-color);
  }
  &:hover::after,
  &:focus::after {
    content: '';
    width: 100%;
    height: 1px;
    border-radius: 2px;
    background-color: var(--primary-text-color);
    display: block;
    position: absolute;
    bottom: -8px;
  }
  @media screen and (min-width: 1280px) {
    line-height: 1.17;
  }
}

.cont-form-wrap {
  padding-bottom: 48px;
  @media screen and (min-width: 768px) {
    padding: 0 48px 120px;
  }
  @media screen and (min-width: 1280px) {
    width: 591px;
  }
}

.cont-form-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  color: var(--primary-text-color);
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    font-size: 36px;
    margin-bottom: 48px;
  }
}

.cont-form-field {
  position: relative;
  margin-bottom: 40px;
}

.cont-imput {
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--primary-text-color);
  width: 100%;
  height: 24px;
  outline: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    cursor: pointer;
  }
  &::placeholder {
    color: transparent;
  }
  &:focus + .cont-label,
  &:not(:placeholder-shown) + .cont-label {
    transform: translateY(-20px);
    color: #cdcdcd;
    font-size: 14px;
  }
  @media screen and (min-width: 768px) {
    &:focus + .cont-label {
      transform: translateY(-24px);
      font-size: 18px;
      line-height: 1.11;
    }
  }
}

.cont-label {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.25;
  text-transform: capitalize;
  color: var(--secondary-text-color);
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.11;
  }
}

.cont-label-text {
  line-height: 1.25;
  color: #cdcdcd;
  display: block;
  margin-bottom: 4px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.11;
  }
}

.cont-comment {
  color: var(--secondary-text-color);
  display: block;
  width: 100%;
  height: 95px;
  border: 1px solid var(--primary-text-color);
  resize: none;
  outline: var(--primary-text-color);
  background-color: transparent;
  margin-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 34px;
  }
}

.cont-btn {
  background-color: transparent;
  color: var(--secondary-text-color);
  display: block;
  margin: 0 auto;
  border: 1px solid var(--secondary-text-color);
  border-radius: 16px;
  padding: 16px 66px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-transform: uppercase;
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.1))
      drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.4));
  }
  @media screen and (min-width: 768px) {
    padding: 16px 112px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 32px;
    margin-left: 0;
  }
}
