.blog {
    // width: 1280px;
    background-color: #01383A;
}
// .container-one {
// width: 100%;
// padding: 0 16px;
// @media screen and (min-width: 480px) {
//     width: 480px;
//   }
//   @media screen and (min-width: 768px) {
//     padding: 0 40px;
//     width: 768px;
//   }
//   @media screen and (min-width: 1280) {
//     width: 1280px;
//   }
// }
.blog-title {
    font-weight: 600;
font-size: 24px;
line-height: 1.67;
margin-left: 16px;
color: var(--secondary-text-color);
margin-bottom: 4px;
@media screen and (min-width: 768px) {
    font-size: 56px;
line-height: 1.18;
margin-left: 99px;
}
@media screen and (min-width: 1280px) {
    margin-left: 142px;
    margin-bottom: 8px; 
}
}
// .blog-image {
//     padding: 0 0;
// }
.blog-list {
}
.blog-item {
//   @media screen and (min-width: 768px) {
// display: flex;
// flex-wrap: wrap;
// flex-direction: column;
// }
}
.blog-container {
    width: 100%;
    outline: 2px solid tomato;
}
.blog-item:not(:last-child) {
    margin-bottom: 24px;
}
.blog-line {
}
.blog-item-title {
    // max-width: 288px;
    font-weight: 600;
font-size: 24px;
line-height: 1.67;
@media screen and (min-width: 768px) {
    font-size: 56px;
line-height: 1;
}
color: var(--secondary-text-color);
margin-bottom: 16px;
}
.blog-top-text {
    font-weight: 600;
font-size: 16px;
line-height: 1;
@media screen and (min-width: 768px) {
    font-size: 24px;
}
color: var(--secondary-text-color);
margin-bottom: 8px;
margin-top: 8px;
}
.blog-average-text {
    font-weight: 600;
font-size: 16px;
line-height: 1;
@media screen and (min-width: 768px) {
    font-size: 24px;
line-height: 1.17;
}
color: var(--third-text-color);
margin-bottom: 8px;
}
.blog-bottom-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.19;
color: var(--secondary-text-color);
margin-bottom: 8px;
}
.blog-link {
    font-weight: 600;
font-size: 16px;
line-height: 1;
color: var(--primary-text-color);
display: block;
text-align: end;
}
.blog-decoration {
    // padding: 48px 104px;
}