.blog {
    // width: 1280px;
    background-color: #01383A;
    padding-top: 40px;
    padding-bottom: 112px;
    @media screen and (min-width: 768px) {
        padding-top: 120px;
    padding-bottom: 120px;
    }
}
// .container-one {
// width: 100%;
// padding: 0 16px;
// outline: 2px solid tomato;
// @media screen and (min-width: 480px) {
//     width: 480px;
//   }
//   @media screen and (min-width: 768px) {
//     padding: 0 40px;
//     width: 768px;
//   }
//   @media screen and (min-width: 1280) {
//     width: 1280px;
//   }
// }
.blog-title {
    font-weight: 600;
font-size: 24px;
line-height: 1.17;
margin-left: 16px;
color: var(--secondary-text-color);
margin-bottom: 4px;
@media screen and (min-width: 768px) {
    font-size: 56px;
line-height: 1.18;
margin-left: 99px;
}
@media screen and (min-width: 1280px) {
    margin-left: 142px;
    margin-bottom: 8px; 
}
}
.blog-container {
    @media screen and (min-width: 1280px) {
        // display: none;
    }
}
.blog-list {
}
.blog-item {
//   @media screen and (min-width: 768px) {
// display: flex;
// flex-wrap: wrap;
// flex-direction: column;
// }
}
// .for-tablet {
//     @media screen and (min-width: 768px) {
//         display: flex;
//     }
// }
// .blog-container {
//     width: 100%;
//     outline: 2px solid tomato;
// }
.for-tablet {
    display: block;
    @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-end;
    margin-bottom: 16px;
}
}
// .for-desktop {
//     width: 1200px;
//     display: flex;
//     // @media screen and (max-width: 1279px) {
//     //     display: none;
//     // }
// }
.blog-item:not(:last-child) {
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    }
}
.image-desktop {
    margin-right: 120px;
}
.blog-item-title {
    // max-width: 288px;
    font-weight: 600;
font-size: 24px;
line-height: 1.17;
@media screen and (min-width: 768px) {
    font-size: 56px;
line-height: 1;
}
color: var(--secondary-text-color);
margin-bottom: 16px;
}
.blog-image {
    @media screen and (min-width: 768px) {
    border-radius: 12px;
}
}
.blog-top-text {
    font-weight: 600;
font-size: 16px;
line-height: 1;
color: var(--secondary-text-color);
margin-bottom: 8px;
margin-top: 8px;
@media screen and (min-width: 768px) {
    max-width: 248px;
    font-size: 24px;
    margin-bottom: 32px;
}
@media screen and (min-width: 1280px) {
    max-width: 249px;
}
}
.blog-average-text {
    font-weight: 600;
font-size: 16px;
line-height: 1;
color: var(--third-text-color);
margin-bottom: 8px;
@media screen and (min-width: 768px) {
    max-width: 261px;
    font-size: 24px;
}
@media screen and (min-width: 1280px) {
    max-width: 350px;
}
}
.text-location {
    @media screen and (min-width: 768px) {
        display: block;
        margin-left: 40px;
    }
}
.text-location1 {
    display: flex;
    align-items: baseline;
   justify-content: space-between;
}
.blog-bottom-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.19;
@media screen and (min-width: 768px) {
    font-size: 24px;
line-height: 1.17;
}
color: var(--secondary-text-color);
margin-bottom: 8px;
}
.blog-link {
    font-weight: 600;
font-size: 16px;
line-height: 1;
color: var(--primary-text-color);
display: block;
text-align: end;
@media screen and (min-width: 768px) {
    font-size: 24px;
}
}
.blog-decoration {
    // padding: 48px 104px;
}