<section class="accessories">
  <div class="container blogArticle-thumb">
    <h2 class="visually-hidden">Accessories</h2>
    <ul class="menu list" id="myBtnContainer">
      <li class="menu__list">
        <button
          class="menu__button btnFilter"
          type="button"
          onclick="filterSelection('all')"
        >
          All
        </button>
      </li>
      <li class="menu__list">
        <button
          class="menu__button"
          type="button"
          onclick="filterSelection('headset')"
        >
          Headsets
        </button>
      </li>
      <li class="menu__list">
        <button
          class="menu__button"
          type="button"
          onclick="filterSelection('keyboard')"
        >
          Keyboards
        </button>
      </li>
      <li class="menu__list">
        <button
          class="menu__button"
          type="button"
          onclick="filterSelection('mouse')"
        >
          Mouses
        </button>
      </li>
    </ul>
    <h1 class="title">All accessories</h1>
    <ul class="product list containerFilter">
      <li class="product__item filterDiv headset">
        <a href="/src/takeOrder.html" class="product__link link">
          <div class="product__frame">
            <img
              class="image"
              src="/src/images/all-accessories/xiberia-k9-headset.jpg"
              srcset="
                /src/images/all-accessories/xiberia-k9-headset.jpg    1x,
                /src/images/all-accessories/xiberia-k9-headset_x2.jpg 2x
              "
              alt="xiberia"
              title="headset"
              width="285"
            />
            <div class="product__overlame">
              <p class="product__overlametext">
                100% Brand new and high quality!
              </p>
              <p class="product__overlametext">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="product__overlametext">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="product__overlametext">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="product__overlametext">
                is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="product__namecost">
            <h2 class="product__name">Xiberia K9 PRO PC Headset</h2>
            <span class="product__cost">
              <span class="product__costbefore">65.14 USD</span>
              <span class="product__costnow">55.14 USD</span>
            </span>
          </div>
        </a>
      </li>
      <li class="product__item filterDiv mouse">
        <a href="/src/takeOrder.html" class="product__link link">
          <div class="product__frame">
            <img
              class="image"
              src="/src/images/all-accessories/malloom-1200-dpi.jpg"
              srcset="
                /src/images/all-accessories/malloom-1200-dpi.jpg    1x,
                /src/images/all-accessories/malloom-1200-dpi_x2.jpg 2x
              "
              alt="malloom"
              title="malloom"
              width="285"
            />
            <div class="product__overlame">
              <p class="product__overlametext">
                100% Brand new and high quality!
              </p>
              <p class="product__overlametext">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="product__overlametext">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="product__overlametext">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="product__overlametext">
                is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="product__namecost">
            <h2 class="product__name">
              Malloom 1200 DPI 2.4Ghz Wireless Mouse
            </h2>
            <span class="product__cost">
              <span class="product__costbefore">44.24 USD</span>
              <span class="product__costnow">29.93 USD</span>
            </span>
          </div>
        </a>
      </li>
      <li class="product__item filterDiv keyboard">
        <a href="/src/takeOrder.html" class="product__link link">
          <div class="product__frame">
            <img
              class="image"
              src="/src/images/all-accessories/steampunk-anti-ghosting-keyboard.jpg"
              srcset="
                /src/images/all-accessories/steampunk-anti-ghosting-keyboard.jpg    1x,
                /src/images/all-accessories/steampunk-anti-ghosting-keyboard_x2.jpg 2x
              "
              alt="keyboard"
              title="keyboard"
              width="285"
            />
            <div class="product__overlame">
              <p class="product__overlametext">
                100% Brand new and high quality!
              </p>
              <p class="product__overlametext">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="product__overlametext">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="product__overlametext">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="product__overlametext">
                is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="product__namecost">
            <h2 class="product__name">
              Steampunk Anti-Ghosting Mechanical Keyboard
            </h2>
            <span class="product__cost">
              <span class="product__costbefore">160.00 USD</span>
              <span class="product__costnow">110.00 USD</span>
            </span>
          </div>
        </a>
      </li>
      <li class="product__item filterDiv headset">
        <a href="/src/takeOrder.html" class="product__link link">
          <div class="product__frame">
            <img
              class="image"
              src="/src/images/all-accessories/g95-light-surround.jpg"
              srcset="
                /src/images/all-accessories/g95-light-surround.jpg,
                /src/images/all-accessories/g95-light-surround_x2.jpg 2x
              "
              alt="g95-light"
              title="surround"
              width="285"
            />
            <div class="product__overlame">
              <p class="product__overlametext">
                100% Brand new and high quality!
              </p>
              <p class="product__overlametext">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="product__overlametext">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="product__overlametext">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="product__overlametext">
                is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="product__namecost">
            <h2 class="product__name">G95 Light Surround Gaming Headset</h2>
            <span class="product__cost">
              <span class="product__costbefore">72.78 USD</span>
              <span class="product__costnow">51.78 USD</span>
            </span>
          </div>
        </a>
      </li>
      <li class="product__item filterDiv headset">
        <a href="/src/takeOrder.html" class="product__link link">
          <div class="product__frame">
            <img
              class="image"
              src="/src/images/all-accessories/xiberia-k9-pro-headset.jpg"
              srcset="
                /src/images/all-accessories/xiberia-k9-pro-headset.jpg    1x,
                /src/images/all-accessories/xiberia-k9-pro-headset_x2.jpg 2x
              "
              alt="headset"
              title="headset"
              width="285"
            />
            <div class="product__overlame">
              <p class="product__overlametext">
                100% Brand new and high quality!
              </p>
              <p class="product__overlametext">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="product__overlametext">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="product__overlametext">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="product__overlametext">
                is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="product__namecost">
            <h2 class="product__name">Xiberia K9 PRO PC Headset</h2>
            <span class="product__cost">
              <span class="product__costbefore">156.00 USD</span>
              <span class="product__costnow">116.00 USD</span>
            </span>
          </div>
        </a>
      </li>
      <li class="product__item filterDiv keyboard">
        <a href="/src/takeOrder.html" class="product__link link">
          <div class="product__frame">
            <img
              class="image"
              src="/src/images/all-accessories/backlit-keyboard.jpg"
              srcset="
                /src/images/all-accessories/backlit-keyboard.jpg    1x,
                /src/images/all-accessories/backlit-keyboard_x2.jpg 2x
              "
              alt="headset"
              title="headset"
            />
            <div class="product__overlame">
              <p class="product__overlametext">
                100% Brand new and high quality!
              </p>
              <p class="product__overlametext">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="product__overlametext">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="product__overlametext">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="product__overlametext">
                is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="product__namecost">
            <h2 class="product__name">RGB LED Backlit Mechanical Keyboard</h2>
            <span class="product__cost">
              <span class="product__costbefore">156.00 USD</span>
              <span class="product__costnow">116.00 USD</span>
            </span>
          </div>
        </a>
      </li>
      <li class="product__item filterDiv mouse">
        <a href="/src/takeOrder.html" class="product__link link">
          <div class="product__frame">
            <img
              class="image"
              src="/src/images/all-accessories/darshion-3200-gaming-mouse.jpg"
              srcset="
                /src/images/all-accessories/darshion-3200-gaming-mouse.jpg    1x,
                /src/images/all-accessories/darshion-3200-gaming-mouse_x2.jpg 2x
              "
              alt="gaming"
              title="mouse"
            />
            <div class="product__overlame">
              <p class="product__overlametext">
                100% Brand new and high quality!
              </p>
              <p class="product__overlametext">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="product__overlametext">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="product__overlametext">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="product__overlametext">
                is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="product__namecost">
            <h2 class="product__name">DARSHION 3200 DPI MZ-17 Gaming Mouse</h2>
            <span class="product__cost">
              <span class="product__costbefore">48.00 USD</span>
              <span class="product__costnow">32.00 USD</span>
            </span>
          </div>
        </a>
      </li>
      <li class="product__item filterDiv keyboard">
        <a href="/src/takeOrder.html" class="product__link link">
          <div class="product__frame">
            <img
              class="image"
              src="/src/images/all-accessories/k569-keyboard.jpg"
              srcset="
                /src/images/all-accessories/k569-keyboard.jpg    1x,
                /src/images/all-accessories/k569-keyboard_x2.jpg 2x
              "
              alt="k569"
              title="keyboard"
            />
            <div class="product__overlame">
              <p class="product__overlametext">
                100% Brand new and high quality!
              </p>
              <p class="product__overlametext">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="product__overlametext">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="product__overlametext">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="product__overlametext">
                is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="product__namecost">
            <h2 class="product__name">
              K569 RGB LED Backlit Mechanical Keyboard
            </h2>
            <span class="product__cost">
              <span class="product__costbefore">156.98 USD</span>
              <span class="product__costnow">112.16 USD</span>
            </span>
          </div>
        </a>
      </li>
      <li class="product__item filterDiv keyboard">
        <a href="/src/takeOrder.html" class="product__link link">
          <div class="product__frame">
            <img
              class="image"
              src="/src/images/all-accessories/steampunk-keyboard.jpg"
              srcset="
                /src/images/all-accessories/steampunk-keyboard.jpg    1x,
                /src/images/all-accessories/steampunk-keyboard_x2.jpg 2x
              "
              alt="steampunk"
              title="keyboard"
            />
            <div class="product__overlame">
              <p class="product__overlametext">
                100% Brand new and high quality!
              </p>
              <p class="product__overlametext">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="product__overlametext">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="product__overlametext">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="product__overlametext">
                is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="product__namecost">
            <h2 class="product__name">
              Steampunk Anti-Ghosting Mechanical Keyboard
            </h2>
            <span class="product__cost">
              <span class="product__costbefore">82.40 USD</span>
              <span class="product__costnow">62.40 USD</span>
            </span>
          </div>
        </a>
      </li>
      <li class="product__item filterDiv headset">
        <a href="/src/takeOrder.html" class="product__link link">
          <div class="product__frame">
            <img
              class="image"
              src="/src/images/all-accessories/wired-gaming-headphone.jpg"
              srcset="
                /src/images/all-accessories/wired-gaming-headphone.jpg    1x,
                /src/images/all-accessories/wired-gaming-headphone_x2.jpg 2x
              "
              alt="headphone"
              title="headset"
            />
            <div class="product__overlame">
              <p class="product__overlametext">
                100% Brand new and high quality!
              </p>
              <p class="product__overlametext">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="product__overlametext">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="product__overlametext">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="product__overlametext">
                is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="product__namecost">
            <h2 class="product__name">Wired Gaming Headphones For PS4</h2>
            <span class="product__cost">
              <span class="product__costbefore">72.65 USD</span>
              <span class="product__costnow">47.55 USD</span>
            </span>
          </div>
        </a>
      </li>
      <li class="product__item filterDiv headset">
        <a href="/src/takeOrder.html" class="product__link link">
          <div class="product__frame">
            <img
              class="image"
              src="/src/images/all-accessories/havit-gaming-headset.jpg"
              srcset="
                /src/images/all-accessories/havit-gaming-headset.jpg    1x,
                /src/images/all-accessories/havit-gaming-headset_x2.jpg 2x
              "
              alt="havit-gaming"
              title="headset"
            />
            <div class="product__overlame">
              <p class="product__overlametext">
                100% Brand new and high quality!
              </p>
              <p class="product__overlametext">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="product__overlametext">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="product__overlametext">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="product__overlametext">
                is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="product__namecost">
            <h2 class="product__name">HAVIT USB 3.5mm Gaming Headset</h2>
            <span class="product__cost">
              <span class="product__costbefore">65.14 USD</span>
              <span class="product__costnow">53.98 USD</span>
            </span>
          </div>
        </a>
      </li>
      <li class="product__item filterDiv headset">
        <a href="/src/takeOrder.html" class="product__link link">
          <div class="product__frame">
            <img
              class="image"
              src="/src/images/all-accessories/somic-g936n-headset.jpg"
              srcset="
                /src/images/all-accessories/somic-g936n-headset.jpg    1x,
                /src/images/all-accessories/somic-g936n-headset_x2.jpg 2x
              "
              alt="somic-g936n"
              title="headset"
            />
            <div class="product__overlame">
              <p class="product__overlametext">
                100% Brand new and high quality!
              </p>
              <p class="product__overlametext">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="product__overlametext">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="product__overlametext">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="product__overlametext">
                is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="product__namecost">
            <h2 class="product__name">Somic G936N PS4 Gaming Headset</h2>
            <span class="product__cost">
              <span class="product__costbefore">102.00 USD</span>
              <span class="product__costnow">66.78 USD</span>
            </span>
          </div>
        </a>
      </li>
      <li class="product__item filterDiv mouse">
        <a href="/src/takeOrder.html" class="product__link link">
          <div class="product__frame">
            <img
              class="image"
              src="/src/images/all-accessories/aula-si9006-mouse.jpg"
              srcset="
                /src/images/all-accessories/aula-si9006-mouse.jpg    1x,
                /src/images/all-accessories/aula-si9006-mouse_x2.jpg 2x
              "
              alt="si9006"
              title="mouse"
            />
            <div class="product__overlame">
              <p class="product__overlametext">
                100% Brand new and high quality!
              </p>
              <p class="product__overlametext">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="product__overlametext">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="product__overlametext">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="product__overlametext">
                is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="product__namecost">
            <h2 class="product__name">AULA SI9006 Gaming Mouse</h2>
            <span class="product__cost">
              <span class="product__costbefore">89.13 USD</span>
              <span class="product__costnow">64.13 USD</span>
            </span>
          </div>
        </a>
      </li>
      <li class="product__item filterDiv mouse">
        <a href="/src/takeOrder.html" class="product__link link">
          <div class="product__frame">
            <img
              class="image"
              src="/src/images/all-accessories/hxsj-3200-mouse.jpg"
              srcset="
                /src/images/all-accessories/hxsj-3200-mouse.jpg    1x,
                /src/images/all-accessories/hxsj-3200-mouse_x2.jpg 2x
              "
              alt="hxsj-3200"
              title="mouse"
            />
            <div class="product__overlame">
              <p class="product__overlametext">
                100% Brand new and high quality!
              </p>
              <p class="product__overlametext">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="product__overlametext">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="product__overlametext">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="product__overlametext">
                is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="product__namecost">
            <h2 class="product__name">
              HXSJ A903 3200 DPI USB Wired Gaming Mouse
            </h2>
            <span class="product__cost">
              <span class="product__costbefore">50.49 USD</span>
              <span class="product__costnow">32.49 USD</span>
            </span>
          </div>
        </a>
      </li>
      <li class="product__item filterDiv headset">
        <a href="/src/takeOrder.html" class="product__link link">
          <div class="product__frame">
            <img
              class="image"
              src="/src/images/all-accessories/g95-gaming-headset.jpg"
              srcset="
                /src/images/all-accessories/g95-gaming-headset.jpg    1x,
                /src/images/all-accessories/g95-gaming-headset_x2.jpg 2x
              "
              alt="g95-gaming"
              title="headset"
            />
            <div class="product__overlame">
              <p class="product__overlametext">
                100% Brand new and high quality!
              </p>
              <p class="product__overlametext">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="product__overlametext">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="product__overlametext">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="product__overlametext">
                is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="product__namecost">
            <h2 class="product__name">G95 Light Surround Gaming Headset</h2>
            <span class="product__cost">
              <span class="product__costbefore">78.98 USD</span>
              <span class="product__costnow">50.98 USD</span>
            </span>
          </div>
        </a>
      </li>
      <li class="product__item filterDiv keyboard">
        <a href="/src/takeOrder.html" class="product__link link">
          <div class="product__frame">
            <img
              class="image"
              src="/src/images/all-accessories/ymdk-double-shot-04-keyboard.jpg"
              srcset="
                /src/images/all-accessories/ymdk-double-shot-04-keyboard.jpg    1x,
                /src/images/all-accessories/ymdk-double-shot-04-keyboard_x2.jpg 2x
              "
              alt="keyboard"
              title="keyboard"
            />
            <div class="product__overlame">
              <p class="product__overlametext">
                100% Brand new and high quality!
              </p>
              <p class="product__overlametext">
                Ergonomic in design makes it more adjustable to use.
              </p>
              <p class="product__overlametext">
                More fashionable for your daily use, such as playing games.
              </p>
              <p class="product__overlametext">
                Built-in high sensitivity and noise reduction microphone.
              </p>
              <p class="product__overlametext">
                is not easy to break or deform, and wear comfortable, no
                pressure.
              </p>
            </div>
          </div>
          <div class="product__namecost">
            <h2 class="product__name">YMDK Double Shot 104 Keyboard</h2>
            <span class="product__cost">
              <span class="product__costbefore">71.77 USD</span>
              <span class="product__costnow">46.77 USD</span>
            </span>
          </div>
        </a>
      </li>
    </ul>
    <!-- <button class="buttoncircle">button</button> -->
  </div>
</section>
