<section class="contacts">
  <h3 class="cont-title container">Сontacts</h3>
  <div class="cont-container">
    <picture>
      <source
        srcset="
          /src/images/contacts/desctop/keybord.jpg    1x,
          /src/images/contacts/desctop/keybord_x2.jpg 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          /src/images/contacts/tablet/keybord.jpg    1x,
          /src/images/contacts/tablet/keybord_x2.jpg 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          /src/images/contacts/mobile/keybord.jpg    1x,
          /src/images/contacts/mobile/keybord_x2.jpg 2x
        "
        media="(max-width:767px)"
      />
      <img
        class="cont-img"
        src="/src/images/contacts/mobile/keybord.jpg"
        alt="Game accessories"
        width="480"
      />
    </picture>
  </div>
  <div class="container">
    <div class="cont-wrap">
      <div>
        <p class="cont-top-text">
          In case of queries about order handling and/or delay, drop us an email
          at
        </p>
        <p class="cont-bottom-text">info@shopforgamers.com</p>

        <div class="cont-nav">
          <ul class="nav-mail-list list">
            <li class="cont-nav-item">Email</li>
            <li>
              <a href="mailto:sfg.info@gmail.com" class="nav-link"
                >sfg.info@gmail.com</a
              >
            </li>
          </ul>
          <ul class="nav-phone-list list">
            <li class="cont-nav-item">Phone number</li>
            <li class="nav-phone-item">
              <a href="tel:+380936432288" class="nav-link"
                >+38 (093) 643 22 88</a
              >
            </li>
            <li>
              <a href="tel:+380503454423" class="nav-link"
                >+38 (050) 345 44 23</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="cont-form-wrap">
        <p class="cont-form-text">CONTACT US</p>
        <form action="javascript:void(0);" autocomplete="off" id="form">
          <div class="cont-form-field">
            <input
              type="text"
              class="cont-input"
              name="cont-name"
              id="nameField"
              placeholder="Name"
              required
              onkeyup="nameValidation()"
            />
            <label for="nameField" class="cont-label">Name</label>
          </div>
          <div class="cont-form-field">
            <input
              type="email"
              class="cont-input"
              name="cont-email"
              id="emailField"
              placeholder="Email"
              required
              onkeyup="emailValidation()"
            />
            <label for="emailField" class="cont-label">Email</label>
          </div>
          <div>
            <label for="cont-mess" class="cont-label-text"
              >Leave your message</label
            >
            <textarea
              name="cont-mess"
              id="cont-mess"
              class="cont-comment"
            ></textarea>
          </div>
          <button type="submit" class="cont-btn btn" id="send-button">
            Send
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
