<div id="modal-ok" class="backdrop is-hidden">
  <h2 class="visually-hidden">Modal Window - we will contact you soon!</h2>
  <div class="modal">
    <button type="button" class="modal__close-btn">
      <svg class="modal__close-icon" width="40" height="40">
        <use href="/src/images/svg/sprite-svg.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal__title">
      Thank you for your message! We will contact you soon!
    </p>
    <a href="/src/index.html" class="modal__button">
      <span class="modal__button-title">ok</span>
    </a>
  </div>
</div>
