<footer class="footer">
  <section class="container">
    <h2 class="visually-hidden">Page Footer</h2>
    <div class="foter__tabl">
      <a href="/src/index.html" class="footer__logo logo"
        >SHOP FOR<br />
        GAMERS
      </a>
      <ul class="footer__retreat list">
        <li class="footer__menu__list">
          <a class="footer__menu__href" href="/src/accessories.html"
            >Accessories</a
          >
        </li>
        <li class="footer__menu__list">
          <a class="footer__menu__href" href="/src/takeOrder.html"
            >Take order</a
          >
        </li>
        <li class="footer__menu__list">
          <a class="footer__menu__href" href="/src/contactUs.html">Contact</a>
        </li>
        <li class="footer__menu__list">
          <a class="footer__menu__href" href="/src/blog.html">Blog</a>
        </li>
      </ul>
      <ul class="footer__soc list">
        <li>
          <a class="footer__color__icon" href="https://www.instagram.com/">
            <svg width="24" height="24">
              <use href="/src/images/svg/sprite-svg.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer__color__icon"
            href="https://www.youtube.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="" width="24" height="24">
              <use href="/src/images/svg/sprite-svg.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer__color__icon"
            href="https://uk-ua.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="" width="24" height="24">
              <use href="/src/images/svg/sprite-svg.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="footer__contacts">
        <ul class="list">
          <li class="footer__top">
            <p class="footer__title">Email</p>
            <a
              class="footer__tel__mail"
              href="mailto:sfg.info@gmail.com"
              target="_blank"
              rel="noopener noreferrer"
              >sfg.info@gmail.com
            </a>
          </li>
          <li class="footer__bottom">
            <p class="footer__title">Phone number</p>
            <a class="footer__tel__mail" href="tel:0936432288">
              +38 (093) 643 22 88</a
            >
            <a
              class="footer__tel__mail footer__tel__mail__nav"
              href="tel:0503454423"
            >
              +38 (050) 345 44 23</a
            >
          </li>
        </ul>
      </div>
    </div>
  </section>
</footer>
