<section class="slider">
  <h2 class="visually-hidden">Propositions Slider</h2>
  <div class="one-time">
    <div class="slider__item">
      <picture>
        <source
          srcset="
            /src/images/under-hero/desctop/Banner1-1x.jpeg 1x,
            /src/images/under-hero/desctop/Banner1-2x.jpeg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            /src/images/under-hero/tablet/Banner1-tab-1x.jpeg 1x,
            /src/images/under-hero/tablet/Banner1-tab-1x.jpeg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/under-hero/mobile/Banner1-mob-1x.jpeg 1x,
            /src/images/under-hero/mobile/Banner1-mob-2x.jpeg 2x
          "
          media="(min-width: 320px)"
        />

        <img
          src="/src/images/under-hero/desctop/Banner1-1x.jpeg"
          alt="banner1"
        />
      </picture>
    </div>
    <div class="slider__item">
      <picture>
        <source
          srcset="
            /src/images/under-hero/desctop/Banner2-1x.jpeg 1x,
            /src/images/under-hero/desctop/Banner2-2x.jpeg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            /src/images/under-hero/tablet/Banner1-tab-1x.jpeg 1x,
            /src/images/under-hero/tablet/Banner1-tab-1x.jpeg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/under-hero/mobile/Banner1-mob-1x.jpeg 1x,
            /src/images/under-hero/mobile/Banner1-mob-2x.jpeg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="/src/images/under-hero/desctop/Banner2-1x.jpeg"
          alt="banner2"
        />
      </picture>
    </div>
    <div class="slider__item">
      <picture>
        <source
          srcset="
            /src/images/under-hero/desctop/Banner3-1x.jpeg 1x,
            /src/images/under-hero/desctop/Banner3-2x.jpeg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /src/images/under-hero/tablet/Banner1-tab-1x.jpeg 1x,
            /src/images/under-hero/tablet/Banner1-tab-1x.jpeg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/under-hero/mobile/Banner1-mob-1x.jpeg 1x,
            /src/images/under-hero/mobile/Banner1-mob-2x.jpeg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="/src/images/under-hero/desctop/Banner3-1x.jpeg"
          alt="banner3"
        />
      </picture>
    </div>
  </div>
</section>
