<!-- Slider main container -->
<div class="swiper">
    <h1 class="swiper-title" visually-hidden>Sliders</h1>
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <img src="../src/images/under-hero/desctop/place-for-everything.jpg" alt="banner-1">
        </div>
        <div class="swiper-slide">
            <img src="../src/images/under-hero/desctop/best-shop.jpg" alt="banner-2">
        </div>
        <div class="swiper-slide">
            <img src="../src/images/under-hero/desctop/hight-quality.jpg" alt="banner-3">
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
 
</div>