<section>
  <div class="container">
    <div class="wraper">
      <div class="slider one-time">
        <div class="slider__item">
          <img
            src="/src/images/under-hero/desctop/Banner1-1x.jpeg"
            alt="banner1"
          />
        </div>
        <div class="slider__item">
          <img
            src="/src/images/under-hero/desctop/Banner2-1x.jpeg"
            alt="banner2"
          />
        </div>
        <div class="slider__item">
          <img
            src="/src/images/under-hero/desctop/Banner3-1x.jpeg"
            alt="banner3"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- data-slick='{"slidesToShow": 4, "slidesToScroll": 4}' -->
