.container{
@media screen and(min-width: 320px){
max-width: 350px;
height: 100%;

    }
@media screen and(min-width: 768px) {
max-width: 780px;
    height: 100%;
    }
 @media screen and(min-width: 1280px) {
max-width: 1280px;
padding-top: 120px;
padding-bottom: 159px;
height: 100%;
 }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper {
@media screen and(min-width: 320px){
 max-width: 600px;
 
}
  @media screen and(min-width: 768px) {
max-width: 768px;
   
}
 @media screen and(min-width: 1280px) {
max-width: 1280px;


 }
}


.swiper-pagination{
    @media screen and(min-width: 320px) {
    display: flex;
    
}

@media screen and(min-width: 768px) {
    display: flex;
   
}
@media screen and(min-width: 1280px) {
display: flex;
padding-top: 23px;
justify-content: center;
    padding-bottom: 115px;

}
}

    .is-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
    
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
            outline: 0;
            outline-offset: 0;
        }

.img{
@media screen and(min-width: 1280px) {
    width: 100%;
}
}