//************************
// HERO
//************************

.hero {
  max-width: 1600px;
  min-height: 400px;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/mobile-hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/mobile-hero-bg@2x.jpg');
    }
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/tablet-hero-bg.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url('../images/tablet-hero-bg@2x.jpg');
      }
    }
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/pc-hero-bg.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url('../images/pc-hero-bg@2x.jpg');
      }
    }
  }

  &__thumb {
    max-width: 360px;
    margin: 0 auto;
    padding: 118px 0;
    text-align: center;

    @media screen and (min-width: 1200px) {
      padding: 200px 0;
      max-width: 696px;
    }
  }

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: map-get($colors, 'third-decor-color');
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;

      &--position {
        max-width: 696px;
      }
    }
  }
  &__btn-make-order {
    @media screen and (min-width: 1200px) {
      padding: 10px 32px;
    }
    padding: 10px 24px;
    color: map-get($colors, 'third-decor-color');
    background-color: map-get($colors, 'main-decor-color');
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: box-shadow
        map-get($transition-parameters, 'transition-duration')
        map-get($transition-parameters, 'cubic-bezier'),
      background-color map-get($transition-parameters, 'transition-duration')
        map-get($transition-parameters, 'cubic-bezier');
    &:hover,
    &:focus {
      background-color: map-get($colors, 'secondary-decor-color');
    }
  }
}
