<section class="blog">
  <div class="container">
    <h2 class="blog-title">Blog</h2>
    <ul class="blog-list list">
      <!-- ITEM 1 -->
      <li class="blog-item">
        <div class="blog-container">
          <h3 class="blog-item-title">
            Guide to Picking The Right Gaming Headset
          </h3>
          <div class="for-tablet">
            <div class="image">
              <picture>
                <source
                  srcset="
                    /src/images/blog/desctop/guide-to-picking.jpg    1x,
                    /src/images/blog/desctop/guide-to-picking_x2.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /src/images/blog/tablet/guide-to-picking.jpg    1x,
                    /src/images/blog/tablet/guide-to-picking_x2.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /src/images/blog/mobile/guide-to-picking.jpg    1x,
                    /src/images/blog/mobile/guide-to-picking_x2.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="blog-image"
                  src="/src/images/blog/mobile/guide-to-picking.jpg"
                  alt="Guide to Picking"
                  width="320"
                  height="180"
                />
              </picture>
            </div>
            <div class="text-location">
              <p class="blog-top-text">By Ray Ian Ampoloquio</p>
              <p class="blog-average-text">Updated on September 21, 2022</p>
            </div>
          </div>
          <p class="blog-bottom-text">
            Learn how to choose an amazing gaming headset with this checklist of
            just 9 surprisingly simple steps. Gaming headsets offer a handy and
            practical solution to any and all of your gaming audio needs. But,
            as with any kind of ...
          </p>
          <a class="blog-link" href="/src/blogArticle.html">Learn more</a>
        </div>
        <!-- DESKTOP -->
        <div class="blog-container-desktop">
          <div class="image">
            <picture>
              <source
                srcset="
                  /src/images/blog/desctop/guide-to-picking.jpg    1x,
                  /src/images/blog/desctop/guide-to-picking_x2.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /src/images/blog/tablet/guide-to-picking.jpg    1x,
                  /src/images/blog/tablet/guide-to-picking_x2.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/blog/mobile/guide-to-picking.jpg    1x,
                  /src/images/blog/mobile/guide-to-picking_x2.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="blog-image"
                src="/src/images/blog/mobile/guide-to-picking.jpg"
                alt="Guide to Picking"
                width="320"
                height="180"
              />
            </picture>
          </div>
          <div class="text-content-wrapper">
            <h3 class="blog-item-title">
              Guide to Picking The Right Gaming Headset
            </h3>

            <div class="text-location">
              <p class="blog-top-text">By Ray Ian Ampoloquio</p>
              <p class="blog-average-text">Updated on September 21, 2022</p>
            </div>

            <p class="blog-bottom-text">
              Learn how to choose an amazing gaming headset with this checklist
              of just 9 surprisingly simple steps. Gaming headsets offer a handy
              and practical solution to any and all of your gaming audio needs.
              But, as with any kind of ...
            </p>
            <a class="blog-link" href="/src/blogArticle.html">Learn more</a>
          </div>
        </div>
      </li>

      <!-- ITEM 2 -->
      <li class="blog-item">
        <div class="blog-container">
          <h3 class="blog-item-title">
            Mic Monitoring: What Is It and How It Is Relevant to Gaming
          </h3>
          <div class="for-tablet">
            <div class="image">
              <picture>
                <source
                  srcset="
                    /src/images/blog/desctop/mic-monitoring.jpg    1x,
                    /src/images/blog/desctop/mic-monitoring_x2.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /src/images/blog/tablet/mic-monitoring.jpg    1x,
                    /src/images/blog/tablet/mic-monitoring_x2.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /src/images/blog/mobile/mic-monitoring.jpg    1x,
                    /src/images/blog/mobile/mic-monitoring_x2.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="blog-image"
                  src="/src/images/blog/mobile/mic-monitoring.jpg"
                  alt="Mic Monitoring"
                  width="320"
                  height="180"
                />
              </picture>
            </div>
            <div class="text-location">
              <p class="blog-top-text">By Gab L</p>
              <p class="blog-average-text">Updated on September 10, 2022</p>
            </div>
          </div>
          <p class="blog-bottom-text">
            An explanation and exploration of microphone monitoring — its
            benefits and how you can start using one of the most underrated
            features today ...
          </p>
          <a class="blog-link" href="/src/blogArticle.html">Learn more</a>
        </div>

        <!-- DESKTOP -->
        <div class="blog-container-desktop">
          <div class="image">
            <picture>
              <source
                srcset="
                  /src/images/blog/desctop/mic-monitoring.jpg    1x,
                  /src/images/blog/desctop/mic-monitoring_x2.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /src/images/blog/tablet/mic-monitoring.jpg    1x,
                  /src/images/blog/tablet/mic-monitoring_x2.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/blog/mobile/mic-monitoring.jpg    1x,
                  /src/images/blog/mobile/mic-monitoring_x2.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="blog-image"
                src="/src/images/blog/mobile/mic-monitoring.jpg"
                alt="Mic Monitoring"
                width="320"
                height="180"
              />
            </picture>
          </div>
          <div class="text-content-wrapper">
            <h3 class="blog-item-title">
              Mic Monitoring: What Is It and How It Is Relevant to Gaming
            </h3>

            <div class="text-location">
              <p class="blog-top-text">By Gab L</p>
              <p class="blog-average-text">Updated on September 10, 2022</p>
            </div>

            <p class="blog-bottom-text">
              An explanation and exploration of microphone monitoring — its
              benefits and how you can start using one of the most underrated
              features today ...
            </p>
            <a class="blog-link" href="/src/blogArticle.html">Learn more</a>
          </div>
        </div>
      </li>

      <!-- ITEM 3 -->
      <li class="blog-item">
        <div class="blog-container">
          <h3 class="blog-item-title">How to Choose the Right Gaming Mouse</h3>
          <div class="for-tablet">
            <div class="image">
              <picture>
                <source
                  srcset="
                    /src/images/blog/desctop/gaming-mouse.jpg    1x,
                    /src/images/blog/desctop/gaming-mouse_x2.jpg 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    /src/images/blog/tablet/gaming-mouse.jpg    1x,
                    /src/images/blog/tablet/gaming-mouse_x2.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /src/images/blog/mobile/gaming-mouse.jpg    1x,
                    /src/images/blog/mobile/gaming-mouse_x2.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="blog-image"
                  src="/src/images/blog/mobile/gaming-mouse.jpg"
                  alt="Right Gaming Mouse"
                  width="320"
                  height="180"
                />
              </picture>
            </div>
            <div class="text-location">
              <p class="blog-top-text">By Michael Crider</p>
              <p class="blog-average-text">Updated on September 2, 2022</p>
            </div>
          </div>
          <p class="blog-bottom-text">
            A good mouse can make a big difference when playing your favorite
            games. Here’s what you need to know about grip styles, types of
            gaming mice, technical specs, and more, before purchasing a new
            gaming mouse ...
          </p>
          <a class="blog-link" href="/src/blogArticle.html">Learn more</a>
        </div>

        <!-- DESKTOP -->
        <div class="blog-container-desktop">
          <div class="image">
            <picture>
              <source
                srcset="
                  /src/images/blog/desctop/gaming-mouse.jpg    1x,
                  /src/images/blog/desctop/gaming-mouse_x2.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /src/images/blog/tablet/gaming-mouse.jpg    1x,
                  /src/images/blog/tablet/gaming-mouse_x2.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/blog/mobile/gaming-mouse.jpg    1x,
                  /src/images/blog/mobile/gaming-mouse_x2.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="blog-image"
                src="/src/images/blog/mobile/gaming-mouse.jpg"
                alt="Right Gaming Mouse"
                width="320"
                height="180"
              />
            </picture>
          </div>
          <div class="text-content-wrapper">
            <h3 class="blog-item-title">
              How to Choose the Right Gaming Mouse
            </h3>

            <div class="text-location">
              <p class="blog-top-text">By Michael Crider</p>
              <p class="blog-average-text">Updated on September 2, 2022</p>
            </div>

            <p class="blog-bottom-text">
              A good mouse can make a big difference when playing your favorite
              games. Here’s what you need to know about grip styles, types of
              gaming mice, technical specs, and more, before purchasing a new
              gaming mouse ...
            </p>
            <a class="blog-link" href="/src/blogArticle.html">Learn more</a>
          </div>
        </div>
      </li>
    </ul>
    <div class="loading">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</section>
