.blog-article__picture-container-desktop,
.blog-article__author--container-desktop {
  display: none;
}

.blog-article {
  margin: 0;
  padding-top: 136px;
  padding-bottom: 48px;

  background-image: url('../images/svg/mobile/topLine_3.svg'),
    url('../images/svg/mobile/bottomLine_3.svg');
  background-repeat: no-repeat;
  background-position: 0px 192px, 0px 199px;
  background-size: 100%;

  @include media(768px) {
    background-image: url('../images/svg/tablet/topLine_2.svg'),
      url('../images/svg/tablet/bottomLine_2.svg');
    background-position: 0px 377px, 0px 385px;

    @include media(1280px) {
      background-image: url('../images/svg/desktop/topLine.svg'),
        url('../images/svg/desktop/bottomLine.svg');
      background-position: 0px 322px, 0px 358px;
    }
  }
}

.blog-article__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  margin-bottom: 30px;

  @media screen and(min-width: 768px) {
    margin-bottom: 72px;
  }
}
picture > img {
  border-radius: 12px;
}

.article-list__list {
  margin: 0;
  margin-bottom: 25px;
}

.blog-article__author {
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: var(--primary-text-color);
  margin-top: 20px;
}
.blog-article__date {
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: var(--third-text-color);
  margin-top: 8px;
  margin-bottom: 8px;
}
.blog-article__paragraf {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
  margin-bottom: 25px;
}
.blog-article__paragraf--last {
  margin-bottom: 0;
}
.article-list {
  font-size: 16px;
  line-height: 1.19;
  color: #fff;

  @media screen and (min-width: 768px) {
    color: var(--primary-text-color);
  }

  &__list {
    padding: 0;
    overflow: hidden;
    list-style-position: inside;
  }
}
.article-list__title {
  font-size: 16px;
  line-height: 1.19;
  // font-size: 24px;
  // line-height: 1.1;
}

.article-list__link {
  color: #fff;

  @media screen and (min-width: 768px) {
    color: var(--primary-text-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .blog-article {
    padding-top: 256px;
    padding-bottom: 120px;
  }
  .blog-article__title {
    font-size: 56px;
    line-height: 1;
  }

  .blog-article__picture-container {
    display: flex;
  }
  .blog-article__author--container {
    margin-top: 74px;
    margin-left: 40px;
  }
  .blog-article__author {
    font-size: 24px;
    line-height: 1;
    width: 248px;
    margin-bottom: 32px;
  }
  .blog-article__date {
    font-size: 24px;
    line-height: 1;
    width: 261px;
  }
  .blog-article__paragraf--first {
    margin-top: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .blog-article__title {
    margin-bottom: 60px;
  }

  .blogArticle-thumb {
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .blog-article__top-container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 48px;
  }

  .blog-article__picture-container-desktop,
  .blog-article__author--container-desktop {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .blog-article__author--container-desktop {
    margin-bottom: 24px;

    & .blog-article__date,
    & .blog-article__author {
      font-weight: 600;
      font-size: 24px;
      line-height: 100%;
    }
  }

  .blog-article__picture-container-desktop {
    margin-right: 120px;
  }

  .blog-article-thumb {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .blog-article__paragraf-desktop--last {
    margin-bottom: 0;
  }

  .blog-article__title {
    font-size: 56px;
    line-height: 1;
  }

  .blog-article__picture-container {
    display: none;
  }

  .blog-article__img {
    width: 387px;
    height: 336px;
  }
  .blog-article__paragraf {
    font-size: 24px;
    line-height: 1.17;
  }
  .article-list {
    font-size: 24px;
    line-height: 1.17;
  }
  .article-list__title {
    font-weight: normal;
    font-size: 24px;
    line-height: 1.17;
  }
  .blog-article__top-part {
    font-style: normal;
    font-size: 24px;
    line-height: 1.16;
  }
  .blog-article__paragraf:not(:last-child) {
    margin-bottom: 40px;
  }

  .article-list__list {
    margin: 0;
    margin-bottom: 40px;
  }
}
