.blog-article {
  background-color: var(--modal-bg-color);
  color: var(--secondary-text-color);
  padding-top: 136px;
  padding-bottom: 48px;

  @media screen and (min-width: 768px) {
    padding-bottom: 120px;
  }
}

.blog-article__container {
  background-image: url('./../images/decorLines/mobile/topLine.svg'),
    url('./../images/decorLines/mobile/bottomLine.svg');
  background-repeat: no-repeat;
  background-position: top 53px left 0, top 63px left 0;
  background-size: 100%, 100%;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      background-image: url('./../images/decorLines/tablet/topLine.svg'),
        url('./../images/decorLines/tablet/bottomLine.svg');
      background-repeat: no-repeat;
      background-position: top 130px left 0, top 140px left 0;
    }

    @media screen and (min-width: 1280px) {
      background-image: url('./../images/decorLines/desktop/topLine.svg'),
        url('./../images/decorLines/desktop/bottomLine.svg');
      background-repeat: no-repeat;
      background-position: top 175px left 0, top 185px left 0;
      padding-top: 10px;
    }
}

.blog-article__title {
  margin-top: 40px;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 24px;
  @media screen and(min-width: 768px) {
    margin-top: 112px;
    margin-bottom: 72px;
    font-size: 56px;
    line-height: 56px;
  }
}

.blog-article__subtitle {
  font-weight: 600;
  line-height: 100%;
  font-size: 16px;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 24px;
    width: 248px;
    color: var(--primary-text-color);
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 24px;
    color: var(--primary-text-color);
  }
}

.blog-article__picture {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
  }
}

.blog-article__update {
  color: var(--third-text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  @media screen and (min-width: 768px) {
    width: 258px;
    font-size: 24px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 24px;
    margin-left: 96px;
    width: 350px;
  }
}

.blog-article__image {
    width: 387px;
    height: 228px;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      width: 320px;
    }

    @media screen and (min-width: 1280px) {
      height: 336px;
    }
}

.blog-article__item::marker {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 28px;
  @media screen and (min-width: 768px) {
    color: var(--primary-text-color);
    font-size: 24px;
  }
}

.blog-article__div {
  margin-bottom: 48px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    margin-bottom: 16px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: flex-end;
  }
}

.blog-article__desc {
  display: flex;
  margin-bottom: 24px;

  @media screen and (min-width: 320px) and (max-width: 1279px) {
    margin-top: 10px;
    display: block;
  }
}

.blog-article__box {
  margin-left: 40px;

  @media screen and (min-width: 320px) {
    margin-left: 0;
  }

  @media screen and (min-width: 768px) {
    margin-left: 40px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    margin-left: 121px;
  }
}

.blog-article__link {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 24px;
  }
}

.blog-article__list {
  margin-top: 0;
  line-height: 1.16;
  margin-bottom: 30px;
}

.blog-article__block {
  margin-bottom: 30px;
}

.blog-article__text {
  margin-bottom: 20px;
  line-height: 1.16;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}


/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .blog-article__picture,
  .blog-article__box
  {
    display: none;
  }

  .blog-article__div-tablet {
    display: flex;
    flex-wrap: wrap;
  }

  .blog-article__text-tablet {
    margin-top: 16px;
  }

  .blog-article__desc-tablet {
    margin-left: 40px;
  }

  .blog-article__picture-tablet {
    display: flex;
    align-items: flex-end;
  }
}

.blog-article__box-tablet {
  margin-top: 100px;
}

@media screen and (min-width: 1280px) {
  .blog-article__div-tablet,
  .blog-article__text-tablet
  {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .blog-article__div-tablet
  {
    display: none;
  }
}
