<div class="container">
  <h2 class="visually-hidden">Contact Us</h2>
  <p class="contact__info">order information</p>
  <form action="javascript:void(0);" autocomplete="off" class="order" id="form">
    <div class="form-content-wrapper">
      <div class="wrapper">
        <!-- Name Input -->
        <input
          class="contact__input"
          type="text"
          name="name"
          id="nameField"
          placeholder="Name"
          required
          onkeyup="nameValidation()"
        />
        <!-- EMAIL input -->
        <input
          class="contact__input"
          type="email"
          name="Email"
          placeholder="Email"
          required
          id="emailField"
          onkeyup="emailValidation()"
        />

        <div class="select">
          <select
            name="Color Option"
            selected=""
            id="color-option"
            onchange="colorValidation()"
          >
            <option value="Color Option" selected disabled hidden>
              Color Option
            </option>
            <option value="K9D Black Orange">K9D Black Orange</option>
            <option value="K9D Silver Gray">K9D Silver Gray</option>
            <option value="K9U White Blue">K9U White Blue</option>
          </select>
          <span class="focus"></span>
        </div>
        <div class="select">
          <select name="Quantity" id="quantity" onchange="quantityValidation()">
            <option selected disabled hidden>Quantity</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
          <span class="focus"></span>
        </div>
        <div class="select">
          <select name="payment" id="payment" onchange="paymentValidation()">
            <option selected disabled hidden>Payment</option>
            <option value="visa">Visa</option>
            <option value="mastercard">Mastercard</option>
            <option value="american express">American Express</option>
          </select>

          <span class="focus"></span>
        </div>
      </div>
      <div class="comment">
        <label class="commentar" for="comment">Leave your message</label>
        <textarea
          class="teaxtarea"
          name="comment"
          id="comment"
          rows="10"
        ></textarea>
      </div>

      <div class="button button-mobile-tablet">
        <div class="button__buy">
          <button class="buyitnow-button button__now" type="submit">
            buy it now
          </button>
        </div>
        <div class="button__add">
          <button class="addtocart-button button__card" type="submit">
            add to card
          </button>
        </div>
      </div>
    </div>

    <div class="button-desktop">
      <div class="button__buy">
        <button class="buyitnow-button button__now" type="submit">
          buy it now
        </button>
      </div>
      <div class="button__add">
        <button class="addtocart-button button__card" type="submit">
          add to card
        </button>
      </div>
    </div>
  </form>
</div>
