<div id="modal-keepshopping" class="backdrop is-hidden">
  <h2 class="visually-hidden">Keep Shopping Modal Window</h2>
  <div class="modal">
    <button type="button" class="modal__close-btn" id="keppShoping-close">
      <svg class="modal__close-icon" width="40" height="40">
        <use href="/src/images/svg/sprite-svg.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal__title">
      Thank you for your order! We will contact you soon!
    </p>
    <a href="/src/accessories.html" class="modal__button">
      <span class="modal__button-title">KEEP SHOPPING</span>
    </a>
  </div>
</div>
