<div id="modal-letgo" class="backdrop is-hidden">
  <h2 class="visually-hidden">Let`s move on - Modal window</h2>
  <div class="modal">
    <button type="button" class="modal__close-btn" id="letsGo-close">
      <svg class="modal__close-icon" width="40" height="40">
        <use href="/src/images/svg/sprite-svg.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal__title">Excellent choice! Let's move on to the checkout!</p>
    <a href="/src/index.html" class="modal__button">
      <span class="modal__button-title">Let's go!</span>
    </a>
  </div>
</div>
