<section class="take-order">
  <div class="container">
    <h1 class="page-take-order__name">Take order</h1>
    <!-- mob-tablet work version -->
    <div class="page-take-order__section-mob-tablet">
      <h2 class="page-take-order__title">Xiberia K9 PRO PC Headset</h2>
      <div class="page-take-order__main-container">
        <picture>
          <source
            srcset="
              ./images/take-order/desctop/xiberia-k9-pro-headset.jpg    1x,
              ./images/take-order/desctop/xiberia-k9-pro-headset_x2.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /src/images/take-order/tablet/xiberia-k9-headset.jpg    1x,
              /src/images/take-order/tablet/xiberia-k9-headset_x2.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              /src/images/take-order/mobile/xiberia-k9-headset.jpg    1x,
              /src/images/take-order/mobile/xiberia-k9-headset_x2.jpg 2x
            "
            media="(min-width: 320px)"
          />

          <img
            src="/src/images/take-order/desctop/xiberia-k9-pro-headset.jpg"
            class="page-take-order__image-main"
            alt="Xiberia k9 pro headset"
          />
        </picture>

        <div class="page-take__prices-container">
          <p class="page-take-order__item--first-price">65.14 USD</p>
          <p class="page-take-order__item--secondary-price">55.14 USD</p>
        </div>
      </div>

      <div class="page-take-order__cardlist--container">
        <ul class="page-take-order__images">
          <li class="page-take-order__image-item">
            <picture>
              <source
                srcset="
                  /src/images/take-order/desctop/xiberia-k9-pro-pc-headset–red.jpg    1x,
                  /src/images/take-order/desctop/xiberia-k9-pro-pc-headset–red_x2.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /src/images/take-order/tablet/xiberia-k9-pro-pc-headset–red.jpg    1x,
                  /src/images/take-order/tablet/xiberia-k9-pro-pc-headset–red_x2.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/take-order/mobile/xiberia-k9-pro-pc-headset–red.jpg    1x,
                  /src/images/take-order/mobile/xiberia-k9-pro-pc-headset–red_x2.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="/src/images/take-order/desctop/xiberia-k9-pro-pc-headset–red.jpg"
                alt="Xiberia K9 PRO PC Headset Red"
                class="take-order__images"
              />
            </picture>
          </li>
          <li class="page-take-order__image-item">
            <picture>
              <source
                srcset="
                  /src/images/take-order/desctop/xiberia-k9-pro-pc-headset–white.jpg    1x,
                  /src/images/take-order/desctop/xiberia-k9-pro-pc-headset–white_x2.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /src/images/take-order/tablet/xiberia-k9-pro-pc-headset–white.jpg    1x,
                  /src/images/take-order/tablet/xiberia-k9-pro-pc-headset–white_x2.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/take-order/mobile/xiberia-k9-pro-pc-headset–white.jpg    1x,
                  /src/images/take-order/mobile/xiberia-k9-pro-pc-headset–white_x2.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="/src/images/take-order/desctop/xiberia-k9-pro-pc-headset–white.jpg"
                alt="Xiberia K9 PRO PC Headset White"
                class="take-order__images"
              />
            </picture>
          </li>
          <li class="page-take-order__image-item">
            <picture>
              <source
                srcset="
                  /src/images/take-order/desctop/xiberia-k9-pro-pc-headset–black.jpg    1x,
                  /src/images/take-order/desctop/xiberia-k9-pro-pc-headset–black_x2.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /src/images/take-order/tablet/xiberia-k9-pro-pc-headset–black.jpg    1x,
                  /src/images/take-order/tablet/xiberia-k9-pro-pc-headset–black_x2.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/take-order/mobile/xiberia-k9-pro-pc-headset–black.jpg    1x,
                  /src/images/take-order/mobile/xiberia-k9-pro-pc-headset–black_x2.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="/src/images/take-order/desctop/xiberia-k9-pro-pc-headset–black.jpg"
                alt="Xiberia K9 PRO PC Headset Black"
                class="take-order__images"
              />
            </picture>
          </li>
          <li class="page-take-order__image-item">
            <picture>
              <source
                srcset="
                  /src/images/take-order/desctop/xiberia-k9-pro-headset-blue.jpg    1x,
                  /src/images/take-order/desctop/xiberia-k9-pro-headset-blue_x2.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /src/images/take-order/tablet/xiberia-k9-headset-blue.jpg    1x,
                  /src/images/take-order/tablet/xiberia-k9-headset-blue_x2.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/take-order/mobile/xiberia-k9-headset-blue.jpg    1x,
                  /src/images/take-order/mobile/xiberia-k9-headset-blue_x2.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="/src/images/take-order/desctop/xiberia-k9-pro-headset.jpg"
                alt="Xiberia K9 PRO PC Headset"
                class="take-order__images"
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>

    <!-- ********************************************************************************** -->

    <div class="page-take-order__main-container-desktop">
      <picture>
        <source
          srcset="
            ./images/take-order/desctop/xiberia-k9-pro-headset.jpg    1x,
            ./images/take-order/desctop/xiberia-k9-pro-headset_x2.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            /src/images/take-order/tablet/xiberia-k9-headset.jpg    1x,
            /src/images/take-order/tablet/xiberia-k9-headset_x2.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            /src/images/take-order/mobile/xiberia-k9-headset.jpg    1x,
            /src/images/take-order/mobile/xiberia-k9-headset_x2.jpg 2x
          "
          media="(min-width: 320px)"
        />

        <img
          src="/src/images/take-order/desctop/xiberia-k9-pro-headset.jpg"
          class="page-take-order__image-main"
          alt="Xiberia k9 pro headset"
        />
      </picture>

      <div class="page-take-order__cardlist--container-desktop">
        <h2 class="page-take-order__title-desktop">
          Xiberia K9 PRO PC Headset
        </h2>
        <div class="price-wrapper">
          <span class="page-take-order__item--first-price-desktop"
            >65.14 USD</span
          >
          <span class="page-take-order__item--secondary-price-desktop"
            >55.14 USD</span
          >
        </div>

        <ul class="page-take-order__images-desktop">
          <li class="page-take-order__image-item-desktop">
            <picture>
              <source
                srcset="
                  /src/images/take-order/desctop/xiberia-k9-pro-pc-headset–red.jpg    1x,
                  /src/images/take-order/desctop/xiberia-k9-pro-pc-headset–red_x2.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /src/images/take-order/tablet/xiberia-k9-pro-pc-headset–red.jpg    1x,
                  /src/images/take-order/tablet/xiberia-k9-pro-pc-headset–red_x2.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/take-order/mobile/xiberia-k9-pro-pc-headset–red.jpg    1x,
                  /src/images/take-order/mobile/xiberia-k9-pro-pc-headset–red_x2.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="/src/images/take-order/desctop/xiberia-k9-pro-pc-headset–red.jpg"
                alt="Xiberia K9 PRO PC Headset Red"
                class="take-order__images"
              />
            </picture>
          </li>
          <li class="page-take-order__image-item-desktop">
            <picture>
              <source
                srcset="
                  /src/images/take-order/desctop/xiberia-k9-pro-pc-headset–white.jpg    1x,
                  /src/images/take-order/desctop/xiberia-k9-pro-pc-headset–white_x2.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /src/images/take-order/tablet/xiberia-k9-pro-pc-headset–white.jpg    1x,
                  /src/images/take-order/tablet/xiberia-k9-pro-pc-headset–white_x2.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/take-order/mobile/xiberia-k9-pro-pc-headset–white.jpg    1x,
                  /src/images/take-order/mobile/xiberia-k9-pro-pc-headset–white_x2.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="/src/images/take-order/desctop/xiberia-k9-pro-pc-headset–white.jpg"
                alt="Xiberia K9 PRO PC Headset White"
                class="take-order__images"
              />
            </picture>
          </li>
          <li class="page-take-order__image-item-desktop">
            <picture>
              <source
                srcset="
                  /src/images/take-order/desctop/xiberia-k9-pro-pc-headset–black.jpg    1x,
                  /src/images/take-order/desctop/xiberia-k9-pro-pc-headset–black_x2.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /src/images/take-order/tablet/xiberia-k9-pro-pc-headset–black.jpg    1x,
                  /src/images/take-order/tablet/xiberia-k9-pro-pc-headset–black_x2.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/take-order/mobile/xiberia-k9-pro-pc-headset–black.jpg    1x,
                  /src/images/take-order/mobile/xiberia-k9-pro-pc-headset–black_x2.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="/src/images/take-order/desctop/xiberia-k9-pro-pc-headset–black.jpg"
                alt="Xiberia K9 PRO PC Headset Black"
                class="take-order__images"
              />
            </picture>
          </li>
          <li class="page-take-order__image-item-desktop">
            <picture>
              <source
                srcset="
                  /src/images/take-order/desctop/xiberia-k9-pro-headset-blue.jpg    1x,
                  /src/images/take-order/desctop/xiberia-k9-pro-headset-blue_x2.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /src/images/take-order/tablet/xiberia-k9-headset-blue.jpg    1x,
                  /src/images/take-order/tablet/xiberia-k9-headset-blue_x2.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/take-order/mobile/xiberia-k9-headset-blue.jpg    1x,
                  /src/images/take-order/mobile/xiberia-k9-headset-blue_x2.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="/src/images/take-order/desctop/xiberia-k9-pro-headset-blue.jpg"
                alt="Xiberia K9 PRO PC Headset"
                class="take-order__images"
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
