<section class="testdiv">
  <div class="container">
      <h1 class="page-take-order__name">Take order</h1>
      <h2 class="page-take-order__title">Xiberia K9 PRO PC Headset</h2>
      
    <div class="page-take-order__main-container"><picture class="page-take">
      <source
        srcset="
          ./images/take-order/desctop/xiberia-k9-pro-pc-headset.jpg    1x,
          ./images/take-order/desctop/xiberia-k9-pro-pc-headset_x2.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/take-order/tablet/xiberia-k9-pro-pc-headset.jpg    1x,
          ./images/take-order/tablet/xiberia-k9-pro-pc-headset_x2.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/take-order/mobile/xiberia-k9-headset.jpg    1x,
          ./images/take-order/mobile/xiberia-k9-headset_x2.jpg 2x
        "
        media="(min-width: 320px)"
      />
      <img
        src="./images/take-order/desctop/xiberia-k9-pro-pc-headset.jpg"
        alt="Xiberia K9 PRO PC Headset"
        class="page-take-order__image-main"
      />
    </picture>

      <div class="page-take__prices-container">
        <h3 class="page-take-order__item--first-price">65.14 USD</h3>

      <h2 class="page-take-order__item--secondary-price">55.14 USD</h2>
      </div>

      <div class="page-take-order__cardlist--container">
        <ul class="page-take-order__images">
          <li class="page-take-order__image-item">
            <picture>
              <source
                srcset="
                  ./images/take-order/desctop/xiberia-k9-pro-pc-headset–red.jpg    1x,
                  ./images/take-order/desctop/xiberia-k9-pro-pc-headset–red_x2.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/take-order/tablet/xiberia-k9-pro-pc-headset–red.jpg    1x,
                  ./images/take-order/tablet/xiberia-k9-pro-pc-headset–red_x2.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/take-order/mobile/xiberia-k9-pro-pc-headset–red.jpg    1x,
                  ./images/take-order/mobile/xiberia-k9-pro-pc-headset–red_x2.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./images/take-order/desctop/xiberia-k9-pro-pc-headset–red.jpg"
                alt="Xiberia K9 PRO PC Headset Red"
                class="take-order__images"
              />
            </picture>
          </li>
          <li class="page-take-order__image-item">
            <picture>
              <source
                srcset="
                  ./images/take-order/desctop/xiberia-k9-pro-pc-headset–white.jpg    1x,
                  ./images/take-order/desctop/xiberia-k9-pro-pc-headset–white_x2.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/take-order/tablet/xiberia-k9-pro-pc-headset–white.jpg    1x,
                  ./images/take-order/tablet/xiberia-k9-pro-pc-headset–white_x2.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/take-order/mobile/xiberia-k9-pro-pc-headset–white.jpg    1x,
                  ./images/take-order/mobile/xiberia-k9-pro-pc-headset–white_x2.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./images/take-order/desctop/xiberia-k9-pro-pc-headset–white.jpg"
                alt="Xiberia K9 PRO PC Headset White"
                class="take-order__images"
              />
            </picture>
          </li>
          <li class="page-take-order__image-item">
            <picture>
              <source
                srcset="
                  ./images/take-order/desctop/xiberia-k9-pro-pc-headset–black.jpg    1x,
                  ./images/take-order/desctop/xiberia-k9-pro-pc-headset–black_x2.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/take-order/tablet/xiberia-k9-pro-pc-headset–black.jpg    1x,
                  ./images/take-order/tablet/xiberia-k9-pro-pc-headset–black_x2.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/take-order/mobile/xiberia-k9-pro-pc-headset–black.jpg    1x,
                  ./images/take-order/mobile/xiberia-k9-pro-pc-headset–black_x2.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./images/take-order/desctop/xiberia-k9-pro-pc-headset–black.jpg"
                alt="Xiberia K9 PRO PC Headset Black"
                class="take-order__images"
              />
            </picture>
          </li>
          <li class="page-take-order__image-item">
            <picture>
              <source
                srcset="
                  ./images/take-order/desctop/xiberia-k9-pro-headset.jpg    1x,
                  ./images/take-order/desctop/xiberia-k9-pro-headset_x2.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/take-order/tablet/xiberia-k9-pro-headset.jpg    1x,
                  ./images/take-order/tablet/xiberia-k9-pro-headset_x2.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/take-order/mobile/xiberia-k9-pro-headset.jpg    1x,
                  ./images/take-order/mobile/xiberia-k9-pro-headset_x2.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./images/take-order/desctop/xiberia-k9-pro-headset.jpg"
                alt="Xiberia K9 PRO PC Headset"
                class="take-order__images"
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>