:root {
  --foter-colour: #001414;
  --foter-hover: #17573d;
}
.footer__retreat {
  margin-top: 25px;
  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }
}
.footer {
  background-color: var(--foter-colour);
  padding-top: 25px;
  padding-bottom: 24px;
  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.footer__menu__href {
  font-size: 16px;
  line-height: 100%;
  color: var(--secondary-text-color);
  padding-top: 6px;
  padding-bottom: 6px;
  vertical-align: top;
  border-bottom: 1px solid transparent;
  transition-property: color, background-color;
  transition-duration: 0.3s, 0.2s;
  transition-timing-function: ease-in-out;
  transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-bottom: 1px solid var(--primary-text-color);
  }
}

.footer__tel__mail {
  display: block;
  font-size: 16px;
  line-height: 18px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-transform: capitalize;
  color: var(--third-text-color);
  transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom: 1px solid transparent;
  max-width: 150px;
  &:hover,
  &:focus {
    border-bottom: 1px solid var(--primary-text-color);
  }
}
.footer__tel__mail__nav {
  padding-top: 8px;
}
.footer__title {
  font-size: 16px;
  line-height: 19px;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}
.footer__menu__list {
  max-height: 16px;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.footer__soc {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 32px;
  top: 106px;
  gap: 32px;
  @media screen and (min-width: 768px) {
    position: static;
    top: 0px;
    left: 0px;
    flex-direction: row;
    gap: 16px;
  }
  @media screen and (min-width: 1280px) {
    flex-direction: column;
    gap: 16px;
  }
}
.footer__contacts {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 138px;
  }
}
.footer__bottom {
  margin-top: 16px;
}
.foter__tabl {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__color__icon {
  color: var(--foter-colour);
  display: flex;
  background-color: var(--secondary-text-color);
  height: 24px;
  width: 24px;
  border-radius: 50%;
  transition-property: color, background-color;
  transition-duration: 0.3s, 0.2s;
  transition-timing-function: ease-in-out;

  &:hover,
  &:focus {
    background-color: var(--primary-text-color);
    color: var(--secondary-text-color);
  }
}
.footer__logo {
  display: flex;
  min-width: 116px;

  @media screen and (min-width: 1280px) {
    min-width: 187px;
    justify-content: center;
  }
}
